.sticky{position: fixed !important;}
.menu_wrap{width: 100%; 
  position:fixed;left: 50%; transform: translateX(-50%);
  border-bottom: 1px solid #fff; z-index: 1;}
.menu_wrap:hover {background: #fff;}
.menu_wrap:hover .menu_txt li a{color: #000;}
.menu_wrap:hover .logo_black{display: block;}
.menu_wrap:hover .logo_white{display: none ;}
.menu_wrap h1,.menu_wrap02 h1{float: left;height: 60px; margin-left: 40px;}
.menu_wrap h1 img:nth-child(1){display: block;width: 100%;height: 100%;}
.menu_wrap h1 img:nth-child(2){display: none;width: 100%;height: 100%;}
.menu_wrap.menu_wrap02 h1 img:nth-child(1){display: none;width: 100%; height: 100%;}
.menu_wrap.menu_wrap02 h1 img:nth-child(2){display: block;width: 100%;height: 100%;}
.menu_wrap ul,.menu_wrap02 ul{float: right; margin-right: 40px;}
.menu_wrap li,.menu_wrap02 li{float: left; line-height: 50px; padding: 5px 20px;}
.menu_wrap li a,.menu_wrap02 li a{display: block; color: #fff; font-weight: bold; position: relative;}
.menu_wrap li a:hover,.menu_wrap02 li a:hover {color: #0098c2 !important;}
.menu_wrap li:hover a:after{content: "";display: block;width: 100%;height: 2px;
  background: #0098c2; position: absolute; bottom: -6px;}
.menu_wrap.menu_wrap02{position: fixed;z-index: 9999; width: 100%; background: #fff;}
.menu_wrap.menu_wrap02 li a{color: #000;}

/*slider reset*/
.slider_wrap .bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  margin-bottom: 0;
  }
.content_03 .bx-wrapper {
  -moz-box-shadow: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 none  !important;
  margin-bottom: 0 !important;
}
/*slider*/
.slider_wrap{height: 1000px; position: relative;}
.slider li{height: 1000px;width: 100%; overflow: hidden; position: relative;}
.slider {position: relative;}
.slider img{width: 100%;height: 100%;}
.slider .ani01{animation-name: ani01; animation-duration: 7s; animation-iteration-count: 1;}
@keyframes ani01{0%{transform: scale(1.5);}100%{transform: scale(1);}}
/*.slider .slider_02 .ani02{animation-name: ani02; animation-duration: 4s; animation-delay: 4s; animation-iteration-count: infinite;}*/
/*@keyframes ani02{0%{transform: scale(1.3);}100%{transform: scale(1);}}
.slider .slider_03 img{animation-name: ani03; animation-duration: 4s; animation-delay: 8s; animation-iteration-count: infinite;}
@keyframes ani03{0%{transform: scale(1.3);}100%{transform: scale(1);}}
.slider .slider_04 img{animation-name: ani04; animation-duration: 4s; animation-delay: 12s; animation-iteration-count: infinite;}
@keyframes ani04{0%{transform: scale(1.3);}100%{transform: scale(1);}}*/
/*.slider li */.overlay{position: absolute;top: 0;width: 100%; height: 100%; background:rgba(0,0,0,0.4);}
.slider_01txt,.slider_02txt,.slider_03txt,.slider_04txt{
  position: absolute;top: 27%; left: 23%; color: #fff;width: 940px;}
.slider_01txt h2,.slider_02txt h2,.slider_03txt h2,.slider_04txt h2{
  font-size: 2.5em;margin-bottom: 30px;}
.slider_01txt p,.slider_02txt p,.slider_03txt p,.slider_04txt p{
  line-height: 1.7em; margin-bottom: 30px;}
.slider_01txt span,.slider_02txt span,.slider_03txt span,.slider_04txt span{display: block;color: #fff;border: 1px solid #fff;
  width: 200px;float: left;border-radius: 200px; font-weight: bold;
  text-align: center; line-height: 40px; margin-right: 20px; cursor: pointer;}
.slider_01txt span:hover,.slider_02txt span:hover,.slider_03txt span:hover,.slider_04txt span:hover{background: #0098c2; border: 1px solid #0098c2;}  

.slider_tab {position: absolute; top: 28%; left: 15%;width: 150px;}
.slider_tab a{float: left;display: block;font-weight: bold;color: #aaa !important;padding: 0 3px;}
.slider_tab a.active{color: #fff !important;}
.ani02.slider_tab:after{display: block;content: "";width: 100px;height: 2px;background: #fff; margin: 25px 0;
  animation-name: ani02; animation-duration: 7s; animation-timing-function: linear;}
@keyframes ani02{from{width: 0;}to{width: 100px;}}
.slider_tab .slider_bar{width: 100px;height: 2px; background: #fff; position: absolute; top: 25px;}
.slider_tab i{color: #fff; font-size: 0.7em; position: absolute;top: 20px; left: 110px; cursor: pointer;}
.play {display: block;}
.play.pause {display: none;}

/*content*/
.content{height: 1100px; position: relative;}
.content_wrap{width: 1260px; position: absolute;bottom: 155px; left: 50%;transform: translateX(-50%);}
.content_wrap>li{width: 25%; height: 315px; 
  float: left; position: relative; overflow: hidden;}
.content_03,.content_06,.content_08,.content_11{width: 50% !important;}
.content_07{height: 630px !important;}


.content_01 div,.content_05 div,.content_04 div,.content_10 div,.content_09 div{
  position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); text-align: center;}
.content_01 i,.content_05 i,.content_04 i,.content_10 i,.content_09 i{font-size: 7em;margin-bottom: 25px;}
.content_01 p,.content_05 p,.content_04 p,.content_10 p,.content_09 p{font-size: 1.5em;}

.content_01{background: #1c2c40;}

.content_02{background-image: url(../images/video.png);
  background-size: cover; position: relative;}
.content_02 a{display: block;position: absolute; top: 50%;left: 50%;
  transform: translate(-50%,-50%);}
.content_02 i{font-size: 1.5em;color: #fff;width: 100px;height: 100px;text-align: center; 
  line-height: 100px;position: absolute;}
.content_02_iconwrap{width: 100px; height: 100px; border: 1px solid #fff; 
  border-radius: 100px; position: relative; overflow: hidden;}
.content_02_icon{width: 100px;height: 100px;background: #0098c2; border-radius: 100px; 
  position: absolute; left: -103%; transition: 0.5s;}
.content_02 a:hover .content_02_icon{left: 0;}


.content_03{position: relative;}
.content_03 .slider2 .content_03_left{width: 50%; height: 315px;background: #fff;float: left; position: relative;}
.content_03 .slider2 .content_03_left:after{content: ""; display: block; border-width: 20px; border-style: solid; 
  border-color: transparent transparent transparent white;
  position: absolute; top: 50%;transform: translateY(-50%); right: -40px;}
.content_03 .slider2 .content_03_txt{text-align: center; width: 100%;position: absolute; top: 40%; left: 50%;
  transform: translate(-50%,-50%);}
.content_03 .slider2 .content_03_txt h2{margin-bottom: 15px;}
.content_03 .slider2 .content_03_txt p{line-height: 25px;}
.content_03 .slider2 .content_03_right{width: 50%; height: 315px; background: blue; float: right;}
.content_03 .slider2 .content_03_right img{width: 100%; height: 100%;}
.content_03 .slider2_icon{position: absolute; bottom: 40px; left: 170px;width: 100px;height: 50px;}
.content_03 .slider2_icon i{width: 30px;height: 30px; border: 1px solid #000; text-align: center; line-height: 30px;
  border-radius: 30px;}
.content_03 .slider2_icon .slider2_next{float: right; position: relative; overflow: hidden;}
.content_03 .slider2_icon .slider2_prev{float: left; position: relative; overflow: hidden;}
.content_03 .slider2_icon .slider2_next:hover,.slider2_prev:hover{background: #0098c2; cursor: pointer;}
.content_03 .slider2_bar,.slider2_bar2{width: 57px;height: 2px;position: absolute; top: 10px; left: 20px;}
.content_03 .slider2_bar {background: #ccc;}
.content_03 .slider2_num{margin-bottom: 10px}
.content_03 .slider2_num p:nth-child(1){float: left; font-weight: bold;}
.content_03 .slider2_num p:nth-child(2){float: right;font-weight: bold;}

.content_04{background: #435773;}
.content_05{background: #bfcfd9;}
.content_09{background: #435773;}
.content_10{background: #bfcfd9;}

.content_06{background-image: url(../images/content1.png);}
.content_06 .overlay,.content_08 .overlay,.content_11 .overlay{left: -100%; transition: 0.5s;}
.content_06 .content_06txt,.content_08 .content_08txt,.content_11 .content_11txt{left: -100%; transition: 0.3s;}
.content_06:hover .overlay,.content_08:hover .overlay,.content_11:hover .overlay{left: 0;}
.content_06:hover .content_06txt,.content_08:hover .content_08txt,.content_11:hover .content_11txt{left: 0;}

.content_07{background-image: url(../images/content2.png); background-position: -410px 0;}
.content_07 .overlay{top: -100%; transition: 0.5s;}
.content_07 .content_07txt{top: -100%; transition: 0.5s;}
.content_07:hover .overlay{top: 0;}
.content_07:hover .content_07txt{top: 0;}

.content_08{background-image: url(../images/content3.jpg);}
.content_11{background-image: url(../images/content4.png);}
.content_06,.content_07,.content_08,.content_11{
  background-size: cover; position: relative;}
.content_06txt,.content_08txt,.content_11txt,.content_07txt{position: absolute; top: 0; color: #fff;padding: 50px 50px;}
.content_06txt p,.content_08txt p,.content_11txt p,.content_07txt p{font-weight: bold;margin-bottom: 30px;}
.content_06txt p:after,.content_08txt p:after,.content_11txt p:after,.content_07txt p:after{
  display: block; content: "";width: 50px;height: 2px;background: #fff; margin: 10px 0;}
.content_06txt h2,.content_08txt h2,.content_11txt h2,.content_07txt h2{font-size: 2em;}


/*.slider_01txt h2{opacity: 0;}
.slider_01txt p{opacity: 0;}*/

.section01_wrap{height: 750px; background:url(../images/ai.png) no-repeat center fixed;
  background-size: cover; position: relative; margin-bottom: 150px;}
.section01{width: 1260px;height: 550px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  text-align: center; color: #fff;}
.section01 .overlay{width: 100%;height: 100%; position: absolute; top: 0;}
.section01 .card h4:after{display: block;content: "";width: 50px;height: 2px;background: white; margin: 10px auto;}
.section01 .card>p{font-size: 2em; margin-bottom: 50px;}
.section01 li{float: left; width: 300px; height: 380px;margin-right: 20px;}
.section01 li:last-child{margin-right: 0;}
.section01 li i{font-size: 5em;margin-top: 50px; margin-bottom: 10px;}
.section01 li h3{margin-bottom: 10px; font-size: 2em;}
.section01 li:hover{box-shadow:8px 8px 10px rgba(0,0,0,0.5); transform: translate(-10px,-10px);}

.section02{width: 1260px;height: 630px; margin: 0 auto; margin-bottom: 150px;}
.section02 li{width: 25%; float: left;height: 315px; overflow: hidden; position: relative;}
.section02 li:first-child{height: 630px;background: #0644BF; color: #fff; padding: 80px 20px; text-align: center;}
.section02 li:first-child i{font-size: 5em;margin-bottom: 20px;}
.section02 li:first-child h3{font-size: 3em; margin-bottom: 30px;}
.section02 li:hover .section02_img{transform: scale(1.1);}
.section02 li img{width: 100%; height: 100%;}
.section02 li:nth-child(2):after{content: "";display: block; border-color: transparent transparent #f2f2f2 transparent;
  border-style: solid; border-width:20px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;}
.section02 li:nth-child(4):after{content: "";display: block; border-color: transparent transparent #f2f2f2 transparent;
  border-style: solid; border-width:20px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;}
.section02 li:nth-child(6):after{content: "";display: block; border-color: #f2f2f2 transparent transparent;
  border-style: solid; border-width:20px; position: absolute; left: 50%; transform: translateX(-50%); top: 0;}
.section02 .section02_txt{padding: 28px;}
.section02 li h4{margin-bottom: 20px; font-size: 1.5em;}
.section02 li:nth-child(3),.section02 li:nth-child(5),.section02 li:nth-child(7){background: #f2f2f2;}


.section03 {width: 100%; height: 300px; background-image: url(../images/section03.jpg); background-size: cover; position: relative;}
.section03_txt {color: #fff; text-align: center; position: absolute; left: 50%;top: 50%; transform: translate(-50%,-50%);}
.section03_txt h2{margin-bottom: 15px; font-size: 1.8em;}
.section03_txt p{margin-bottom: 25px;}
.section03_txt .section03_btn{border: 1px solid #ccc; width: 200px; line-height: 45px;display: block; margin: 0 auto;
  font-weight: bold; position: relative; overflow: hidden;}
.section03_txt .section03_btn a{display: block; color: white !important;}
.section03_hover{width: 100%;height: 100%; background: #0098c2;; position: absolute; top: 0; left: -100%; transition: 0.3s;}
.section03 .section03_btn:hover .section03_hover{left: 0; z-index: -1;}

.footerwrap{width: 100%;height: 100%; background: #222222; color: #fff;}
.footerwrap .footer{margin: 0 auto; width: 1260px; height: 100%;}
.footerwrap .footer_txt{padding-top: 40px; position: relative;}
.footerwrap .footer_logo{width: 200px; height: 150px;float: left; position: relative;}
.footerwrap .footer_logo img{width: 150px; position: absolute;left: 50%; transform: translateX(-50%);}
.footerwrap li{float: left; display: block; padding: 0 20px;position: relative;}
.footerwrap li:after{display: block;content: "";width: 2px; height: 15px; background: #fff; position: absolute; left:0px; top: 3px;}
.footerwrap p{position: absolute; top: 80px; left: 200px;}