@charset "utf-8";

.section01{height: 600px; position: relative;}
.section01_img{background-image: url(../images/main_img.png); 
			width: 100%; height: 450px;
			background-size: cover;}
.section01_nav{position: absolute;right: 30px; top: 25px;
			color: #fff; font-size: 12px; font-weight: bold;}
.section01_nav span:first-child{cursor: pointer;}
.section01_txt{width: 1400px; height: 300px; background: #fff;
	position: absolute; bottom: 0;}
.section01_txtwrap{position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%); width: 1320px;background: blue;}
.section01 h2{font-size: 55px;}
.section01 h3{font-size: 22px;}


.section02 {width: 100%;height: 480px;background: #f5f5f5;position: relative;}
.section02_txtwrap{width: 1320px;position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);background: blue;}
.section02 h2{font-size: 40px; margin-bottom: 40px;}
.section02 p{font-size: 16px;line-height: 28px; margin-bottom: 30px;}
.section02 span{font-size: 16px; cursor: pointer; color: #0098c2; line-height: 10px;}

.section03_01 {height: 875px; width: 1320px; position: relative; background: blue; margin: 0 auto;}
.section03_01_Wrap p{font-size: 19px; font-weight: bold; margin-bottom: 40px;}
.section03_01_Wrap h2{font-size: 40px;margin-bottom: 50px;}
.section03_01_Wrap img{width: 870px; height: 490px;}
.section03_01_Wrap span{display: block;position: absolute; top: 230px; right: 150px;font-size: 10vw; color: #f2f2f2;}
.section03_01_Wrap{position: absolute;top: 50%;transform: translateY(-50%); left: 0; width: 100%;}
.section03_01_Wrap02{width: 870px;height: 330px;background: #fff; position: absolute; bottom: 0;right: 0px;}
.section03_01_Wrap02 h3{font-size: 19px; margin-bottom: 25px;}
.section03_01_Wrap02 h2{font-size: 22px; margin-bottom: 20px;}
.section03_01_Wrap02 p{font-size: 16px; line-height: 25px;font-weight: bold;}
.section03_01_txt{position: absolute;right: 0px;top: 50%;transform: translateY(-50%);background: skyblue;}

.section03_02{width: 1400px; height: 705px; margin: 0 auto; background: pink;}