@charset "utf-8";
.bx-wrapper{
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 0 none;
			background: #fff;
			margin-bottom: 0;
		}
.oneone .bx-wrapper .bx-pager{bottom: 30px;}
.oneone .bx-wrapper .bx-pager.bx-default-pager a{background-color: #535353;}
.oneone .bx-wrapper .bx-pager.bx-default-pager a.active{background-color:  #0144af;}
.contents08 .bx-wrapper .bx-pager{height: 50px; top: 0;width:200px; right:0;}
.contents08 .bx-wrapper .bx-pager.bx-default-pager a{background-color: #535353;}
.contents08 .bx-wrapper .bx-pager.bx-default-pager a.active{background-color:  #f74237;}

/*header*/
#header{min-width:1200px;}
.util_menu_wrap{background: #0044af;}
.util_menu{width: 1200px; margin: 0 auto;}
.left {float: left;}
.right {float: right;}

.left li{float: left; width: 120px; margin-right: 5px;}
.left li a{display: block; line-height: 40px;
			text-align: center; background: #00163B;
			color: #fff; font-weight: bold;}
.left li a.active{background: #fff; color: #333;}
.left li a:hover{background: #fff; color: #333;}
.right li{float: left; color: #fff; font-size: 0.8em;}
.right li a{display: block; line-height:40px; padding: 0 10px; color: #fff;}
.right li:first-child{line-height: 40px; padding-right: 10px;}
/*.right li:nth-child(2){padding-top: 10px;}*/
.right li:last-child a{padding-right: 0;}
.right li.btn_mp a{float: left; background: #fff; color: #333; 
	width: 20px; height: 20px; line-height: 20px; padding: 0; margin-right: 2px; 
	text-align: center; margin-top: 10px;}

.main_menu_wrap{height: 120px;}
.main_menu{width: 1200px; margin: 0 auto;position: relative; height: 120px;}
.main_menu img{width: 220px; position: absolute; top: 30px;}
.main_menu ul{position: absolute; right: 140px; top: 50px}
.main_menu li{float: left;right: 30px; width: 110px; height: 30px; 
	text-align: center; }	
.buger img{position: absolute; right: 0; top: 0; width: 90px;height: 45px; top: 40px}

/*contents*/
#contents{min-width:1200px;padding-bottom: 70px;
background-image: url(../images/bg_dot.gif),url(../images/main_bgre.jpg);
background-repeat: repeat,no-repeat; background-position: center;
background-size: auto,cover; margin-bottom: 30px;}

.title{width: 1200px; margin: 0 auto; 
	position: relative; padding: 80px 0 50px 0;}
.title .contentsimg{position: absolute; right: 0px; top: 70px;}
.title .contentsimg li{float: left;}
.title>p{color: #fff; font-size: 2.5em;}
.title h1{color: #fff; font-size: 3.5em;}
.contentsimg img{margin-bottom: 5px;margin-left: 10px;}
.contentsimg p{color: #fff; text-align: center; text-indent: 8px;}

.container{width: 1200px; margin: 0 auto; background: #fff; position: relative;}
.container>ul>li{float: left; width: 25%;height: 225px;}
/*.container>ul>li:nth-child(2n){background: pink;}*/
.container>ul>li:nth-child(1){width: 75%;height: 450px; }
.container>ul>li:nth-child(2){height: 450px;}
.container>ul>li:nth-child(3){background: #00163b;}
.container>ul>li:nth-child(4){background: #1651b7;}
.container>ul>li:nth-child(5){}
.container>ul>li:nth-child(6){}
.container>ul>li:nth-child(7){}
.container>ul>li:nth-child(8){width: 75%;}
.sliderTxt {position: absolute; top: 0; top: 85px; left: 85px;}
.sliderTxt p{color: #1651b9; font-size: 3em; margin-bottom: 30px;}
.sliderTxt a{display: block;color: #fff; width: 170px;height: 40px; background: #182c4d;
text-align: center; line-height: 40px;}
.sliderTxt a:hover{background: rgb(24,44,77,0.8);}

.nextBtn {position: absolute; right: 0; top: 190px; cursor: pointer;}
.prevBtn {position: absolute; left: 0; top: 190px; cursor: pointer;}
.nextBtn:hover{opacity: 0.8;}
.prevBtn:hover{opacity:0.8;}
.container>ul>li{position: relative;}


/*.contents02 li{color: #fff; position: relative;}
.contents02 a{display: block; color: #fff; width: 170px; height: 40px;
border: 1px solid #fff; text-align: center; line-height: 40px;position: absolute; bottom: -30px;}
.contents02>ul>li>div>div>p {font-size: 2em; margin-bottom: 20px;}
.contents02>ul>li>div>p {margin-bottom: 35px;}
.contents02>ul>li>div {position: absolute; top: 80px; left: 30px;}
.overlay{width: 170px;height: 40px; background: #000; position: absolute; bottom: -30px; opacity: 0.5;}
.contents02 a:hover{color: #000;}*/

.contents02{padding:60px 45px;background:url(../images/bg03rere.jpg);}
.contents02txt{color: #fff;}
.contents02 .contents02txt h3{font-size:2em;margin-bottom:30px;}
.contents02 .contents02txt p{margin-bottom:40px }
.contents02 .contents02txt .overlay{width: 170px; height: 40px; background-color: rgba(0,0,0,0.5);}
.contents02 .contents02txt a{display: block; color: #fff; width: 170px; height: 40px;
border: 1px solid #fff; text-align: center; line-height: 40px;}
.contents02 .contents02txt a:hover{color: #fff; background-color: rgba(0,0,0,0.9);}


/*.contents03{font-weight: bold; font-size: 1.5em; color: #fff; position: relative;}
.contents03 p{position: absolute;top: 20px;left: 30px;}
.contents03 img{position: absolute; bottom: 30px; left: 30px;}*/
.contents03{padding: 30px 20px;}
.contents03 h3{color: #fff; margin-bottom: 30px;}
.contents03img li{float: left; color: #fff; text-align: center;
 padding: 0 13px; font-size: 0.8em;}
 .contents03img img{margin-bottom: 10px;}



/*.contents04{color: #fff; position: relative;}
.contents04 p{font-weight: bold; font-size: 1.5em; position: absolute; left: 20px; top: 20px;}
.contents04 a{color: #fff; display: block; font-size: 0.8em;}
.date {position: absolute;right: 20px; font-size: 0.8em; top: 110px;}
.siren {position: absolute;left: 20px; top: 110px;}
.contents04 p:after{content:"";display: block;width: 260px;height: 2px;background: #fff;
margin-top: 20px;}*/
.contents04{padding: 30px 20px;}
.contents04 h3{color: #fff;}
.contents04 h3:after{width: 260px;height: 2px; background: #fff; 
	content: ""; display: block; margin: 20px 0;}
.contents04 a{display: block; color: #fff; font-size: 0.8em; margin-bottom: 10px; position: relative;}
.contents04 span:nth-child(2){position: absolute; right: 0;}


/*.c5t {color: #03173c;font-size: 1.5em; font-weight: bold; 
	position: absolute; top: 20px; left: 20px;}
.ct5_01 {text-overflow: ellipsis; width: 125px; position: absolute; 
	right: 20px; top: 75px; font-size: 0.8em; overflow: hidden; color: #4c4c4c;}
.contents05{position: relative;}
.contents05>div>img{position: absolute; left: 20px; top: 70px;}
.contents05>div>a{position: absolute; bottom: 20px; right: 20px;}*/
.contents05 {padding: 30px 20px;}
.contents05 h3{color: #03173c; margin-bottom: 20px;}
.contents05 .sns{position: absolute; right: 20px; bottom: 20px;}
.contents05_01 a{/*position: relative;*/ display: block;}
.contents05_01 a img{float: left;margin-right:10px;}
.contents05 span{font-size: 0.8em; /*position: absolute; right: 0; top: 5px;*/}



.contents06{position: relative;}
.contents06 p{position: absolute;color: #fff; font-weight: bold; bottom: 0;
background: rgba(0,0,0,0.8); width: 300px; height: 50px;text-align: center; line-height: 50px;
transition: 0.8s; cursor: pointer;}
.contents06 p:hover {height: 100%; line-height: 230px}
/*.contents06 div{width: 300px;height: 50px;background: #000; 
	position: absolute; bottom: 0; opacity: 0.7;}*/


.contents07{position: relative;}
.contents07 img:nth-child(2){position: absolute; top: 90px; left: 120px; cursor: pointer;}


.contents08txt {position: absolute; top: 30px;left: 30px;color: #fd503f;}
.contents08 h1{font-size: 3.5em;}
.contents08 p{font-size: 2em;}
.contents08 a{display: block;color: #fff;width: 170px;height: 40px; 
	background: #fd503f; text-align: center;line-height: 40px;}
.contents08 a:hover{background: #fff; color: #fd503f;}


.container{margin-bottom: 20px;}
.condown {width: 1200px; background-color: #fff; margin: 0 auto	; 
	height: 60px; }
.condown div{float: left; width: 1200px;}
.condown p{float: left;}
.condown>div>div{width: 300px; text-align: center; line-height: 60px; position: relative;}
.condown>div>div>p:nth-child(1){font-weight: bold; color: #01183a; 
	font-size: 1.2em;width: 130px; padding-left: 40px;}
.condown>div>div>p:nth-child(2){cursor: pointer; width: 170px;}
.condown>div>div:nth-child(1):after{content:"";width: 2px;height: 60px;background: #6b6b6b; position: absolute; top: 0; right: 0;}
.condown>div>div:nth-child(2){line-height: 60px; width: 300px; font-size: 0.9em;
	text-align: center; padding-left: 45px; color: #585858; font-weight: bold;}
.condown>div>div:nth-child(3){line-height: 60px; width: 560px; text-align: center;
font-size: 0.8em;color: #585858; cursor: pointer;}
.condown img{cursor: pointer; float:right;}
.condown img:hover{opacity: 0.8;}


.footWrap{width: 1200px; margin: 0 auto; position: relative;}
.foot{width: 900px; margin-left: 650px;}
.foot li{float: left; width: 150px; 
	font-size: 0.9em; height: 30px; cursor: pointer; text-align: center;}
.foot li:after{content: ""; width: 1px;height: 10px; background: #000; 
display: block; position: absolute; top: 7px; margin-left: 150px;}
.foot li:last-child:after{display: none;}
.foot {position: relative;}
.foot p{color: #888888; font-size: 0.85em;}
.foot p:nth-child(2){margin-bottom: 10px;}
.foot ul{margin-left: -47px;}
.foot{position: absolute;top: 0; left: -350px;}
.footlogo{cursor: pointer;}




